/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Custom CSS codes */
.skewed_bg{
    position: absolute;
    left: -200px;
    top: -0.5px;
    /* height: 150px; */
    width: 60%;
    transform: skew(-35deg);
}


.video_pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1.5s infinite;
}
.video_pulse div {
    transform: rotate(-90deg);
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
		box-shadow: 0 0 0 0 rgb(0, 185, 255);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.dot:after{
    content: '.';
}

.hangingIcon {
	background-color: #253655;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-left: -20px;
	margin-right: 10px;
	position: relative;
}
.hangingIcon:before,
.hangingIcon:after {
	content: '|';
	position: absolute;
	color: #253655;
}
.hangingIcon:before{
	left: 10px;
	top: -16px;
}
.hangingIcon:after{
	left: 10px;
	top: 16px;
}
.hangingIcon div {
	top: 50%;
	left: 50%;
	color: white;
	font-size: 16px;
	position: absolute;
	transform: translate(-50%, -50%);

}

/* Hovering Nav Card */
.relative .link-title{
	padding: 1em;
	text-overflow: ellipsis;
}
.relative > .card {
	transition: 0.3s all ease-out;
	display: none;
}
.relative:hover > .card {
	transition: 0.3s all ease-out;
	display: block;
}
.card {
	background-color: white;
	border-radius: 5px;
	/* white-space: nowrap; */
	width: 350px;
	/* min-width: 350px; */
	position: absolute;
	right: -5px;
	top: 45px;
	z-index: 1;
}
.card .pointer {
	width: 10px;
	height: 10px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: -5px;
	right: 22px;
}
.card .divider {
	width: 100%;
	background-color: rgba(128, 128, 128, 0.322);
	height: 1px;
	margin: 20px 0px;
}
.card .header{
	padding: 40px 40px 20px;
}
.card .content {
	background-color: rgba(128, 128, 128, 0.068);
}
.card ul.list {
	padding: 20px 40px;
}
.card ul.list li {
	font-size: 12px;
}
.card ul.list li span.caret-right {
	display: none;
	transition: 3s all ease-in-out;
}
.card ul.list li:hover span.caret-right {
	display: block;
	transition: 3s all ease-in-out;
}